<a href="https://colab.research.google.com/github/toshiikuoo/puclic/blob/master/pearsonr%E3%81%A7NaN%E3%82%92%E7%84%A1%E8%A6%96.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

参考
https://stackoverflow.com/questions/38894488/dropping-nan-with-pearsons-r-in-scipy-pandas

In [0]:
import numpy as np
import pandas as pd
from pandas import  DataFrame
#組み合わせを出力するメソッドが入っている
import itertools
#ピアソンの相関係数を出力するメソッドが入っている
from scipy.stats.stats import pearsonr

In [2]:
#Nanの入ったDFを作成
df=DataFrame(np.arange(12).reshape(4,3))
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [3]:
df_nan=df.copy()
df_nan[1][1]=np.nan
df_nan

   0     1   2
0  0   1.0   2
1  3   NaN   5
2  6   7.0   8
3  9  10.0  11

In [7]:
columns=df_nan.columns.to_list()
columns

[0, 1, 2]

In [8]:
list(itertools.combinations(columns,2))

[(0, 1), (0, 2), (1, 2)]

In [0]:
#列ごとのペアで相関を算出
columns=df_nan.columns.to_list()
correlations={}
for cola, colb in itertools.combinations(columns,2):
  nas=np.logical_or(np.isnan(df_nan.iloc[:,cola]),np.isnan(df_nan.iloc[:,colb]))
  correlations[cola, colb]=pearsonr(df_nan.iloc[:,cola][~nas],df_nan.iloc[:,colb][~nas])

In [10]:
correlations

{(0, 1): (1.0, 0.0), (0, 2): (1.0, 0.0), (1, 2): (1.0, 0.0)}